body{
    color: crimson;
    background-color: black;
    font-size: 22px;
}
 a{
     text-decoration: none;

 }
 h3{
     font-size: x-large;
     font-family: Arial, Helvetica, sans-serif;
     
 }
 h1{
     text-align: center;
 }