body{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 127, 92) ;
    font-size: 20px;    
}

h1{
    text-align: center;
    font-size: 2em;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
font-size: 1.6em;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
font-size: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 ul{
     list-style-type: circle;
     color: white;
     background-color: rgb(62, 122, 172);
     border: 2px solid white;
     border-radius: 10px 100px / 120px;
     width: 200px;
     margin-bottom: 20px;
     margin-top: 20px;
     margin-left: 50px;
     
     
 }
 ol{

list-style-type: upper-roman;
color: white;
background-color: teal;
border: 2px solid black;
border-radius: 10px 100px 100px 120px;
font-weight: bold;
width: 300px;
margin-left: 50px;
margin-top: 20px;

 } 
 a{
    text-decoration: none;
    /* text-decoration: line-through; (remove link )*/
 }
 p{
     text-align:left ;
 }
 em{
     font-weight: bold;
    font-style: normal; 
 }
 b{
     font-weight: normal;
     font-style: italic;
 }
.headee{
    color: white;
    background-color: rgb(53, 50, 53);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border: 20px;
    border-radius: 10px 100px / 120px;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;

}
.list{
    color: white;
    background-color: rgb(83, 59, 83);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px 100px / 120px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
