body{
    background:brown;
}
h1 {

background-color: rgb(228, 181, 27);
font-family: Arial, Helvetica, sans-serif;
padding: 30px;
border: 5px solid black;


}

p{
   padding: 20px 0px 20px 10px;
   margin-bottom: 50px;


}
em , strong{

    background-color: #B2D6FF;
    display: inline;
}
